@model WordCloud.Application.Words.WordCloudDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the World Famous Word Cloud</h1>
</div>
<input type="hidden" id="hdJsonWords" value='@Html.Raw(Model?.JsonWords)' />
<div style="margin-top: 20px;">
    @using (Html.BeginForm("GetContent", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="Url"></label>
            <input asp-for="Url" class="form-control" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" id="BtnSubmit" class="btn btn-primary" value="Generate Word Cloud" />
        </div>
    }
</div>
<div id="chartdiv"></div>

@section Scripts {

    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}

